$dark: #222f3e;
$darkLower: #22303f8c;
$grey: #8395a7;
$white: #fff;
$primary: #1dd1a1;

.like-button-wrapper {
    display: grid;
    place-items: center;
    border: none;
    cursor: pointer;
    border-radius: 8px;
    box-shadow: 0 0 10px $darkLower;
    padding: 16px 24px;
    background-color: $dark;
    color: $white;
    font-size: 16px;
    font-weight: 600;
    will-change: background-color;
    transition: background-color .3s;

    &:hover:not(.liked) {
        svg {
            transform: translateY(-2px) rotate(8deg);
            #thumb-end {
                transform: rotate(45deg) translate(5px,-45px);
            }
        }
    }

    &.liked {
        background-color: $primary;
        svg {
            animation: hop 500ms;
        }
    }

    .like-button {
        display: flex;
        align-items: center;
    }

    svg {
        width: 22px;
        height: 22px;
        margin-right: 8px;
        transform: translateY(-2px);
        transition: transform .2s;

        #thumb-end {
            transition: transform .2s;
        }
    }
}

@keyframes hop {
    0% {
        transform: rotate(8deg) translateY(-2px);
    }
    30% {
        transform: rotate(-14deg) translateY(-5px);
    }
    65% {
        transform: rotate(7deg) translateY(2px);
    }
    100% {
        transform: rotate(0deg) translateY(-2px);
    }
}